body {
    font-family: "Verdana", sans-serif;
}

p   {
    text-align: center;
}

h1, h2 {
    font-family: "Lobster", cursive;
}

h3  {
    font-family: "Verdana";
    font-size: x-large;
}

h2 {
    color: #023e8a;
}

h5{
    color: white;
}

header h2 {
    color: #CEC8FF;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right ,#03045e, #0077b6, #48cae4);
    color: white;
}

footer {
    background-image: linear-gradient(to right ,#03045e, #0077b6, #48cae4);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-center    {
    text-align: center;
}